.shibes {

width: 30%;
float: left;
margin: 1.66%;
transition: .3s ease-in-out;
}

.shibes:hover {

transform: scale(1.1); 


}

.title {

font-size: 50px;
font-family: 'Caveat Brush', cursive;
margin: 1.66%;
font-weight: 800;
border-bottom: 3px solid #F1F1F1;
width: 30%;
padding-bottom: 20px;
}

.doge {

font-family: 'Caveat Brush', cursive;
float: right;
height: 250px;
width: 220px;
color: #F28D00;
margin-bottom: -40px;

}

.credits {

font-family: 'Caveat Brush', cursive;
font-size: 20px;
float: left;
margin-left: 90%;

}

a {


color: #2974C4;


}